.container-test {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include atDesktopS {
    flex-direction: row;
  }
}

.container-test__menu {
  min-height: 522px;
  padding: 0 20px;
  padding-top: 45px;
  background-color: $black;
  background-image: url("./images/deco/background-test-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  @include atTablet {
    min-height: 522px;
    background-image: url("./images/deco/background-test-tablet.jpg");
  }

  @include atDesktopS {
    width: 50%;
    min-height: 854px;
    padding-right: 0;
  }

  @include atDesktopM {
    padding-top: 130px;
    padding-bottom: 112px;
    background-image: url("./images/deco/background-test-desktop.jpg");
    background-size: cover;
  }
}

.container-test__link {
  position: relative;
  display: block;
  padding-left: 25px;
  color: $light;
  font-weight: 700;
  font-size: 22px;
  font-family: $titleFont;
  line-height: 22px;
  text-transform: lowercase;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 12px;
    background-image: url("./images/icons/back-link-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    transform: rotate(-90deg) translateX(20%);
    content: "";
  }
}

.container-test__info {
  min-height: 522px;
  padding: 0 20px;
  background-color: #fbf6ee;

  @include atTablet {
    min-height: 522px;
  }

  @include atDesktopS {
    width: 50%;
    padding-top: 172px;
    padding-bottom: 112px;
    padding-left: 0;
  }
}
