.header-search {
  // box model
  height: 263px;
  margin-bottom: 60px;
  padding: 20px 0;
  overflow: hidden;
  // visual
  background-color: $dark;
  background-image: url('../images/deco/grunge-header.svg');
  background-repeat: no-repeat;
  background-position: top 233px center;

  @include atTablet {
    // box model
    padding: 40px 0;
    // visual
    background-image: url('../images/deco/grunge-header.svg'), url('../images/deco/background-header.jpg');
    background-position: top 210px center, center;
  }

  @include atDesktopS {
    // visual
    background-position: top 230px center, center;
  }
}

.header-search__wrapper {
  position: relative;
  // box model
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;

  @include atTablet {
    // box model
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    padding: 0 40px;
  }

  @include atDesktopL {
    // box model
    padding: 0;
  }
}

// .header-search__logo {
//   // box model
//   margin-bottom: 20px;
// }

.header-search__logo--adaptive {
  position: absolute;
  top: 15px;

  @include atTablet {
    // box model
    position: relative;
    top: 0;
  }
}

.header-search__img {
  // box model
  height: 64px;

  @include atTablet {
    // box model
    height: 80px;
  }

  @include atDesktopS {
    // box model
    height: 106px;
  }

  @include atDesktopL {
    // box model
    height: 136px;
  }
}

.header-search__search {
  flex-grow: 1;
  align-self: center;
  order: 1;
  min-width: 280px;
  max-width: 600px;

  @include atTablet {
    flex-grow: 0;
    align-self: flex-start;
    // box model
    order: 0;
    width: 600px;
    margin: 0 20px;
    padding-top: 21px;
  }

  @include atDesktopS {
    // box model
    padding-top: 3px;
  }

  @include atDesktopL {
    // box model
    padding-top: 11px;
  }
}

.header-search__menu {
  width: 140px;
  margin-left: auto;

  @include atTablet {
    // box model
    width: 180px;
    margin: 0;
  }

  @include atDesktopS {
    // box model
    width: 224px;
  }
}

.header-search__button {
  // box model
  width: 100%;
  height: 44px;
  padding: 0;
  // typography
  font-size: 10px;
  line-height: 10px;

  @include atDesktopS {
    // typography
    font-size: 14px;
    line-height: 19px;

    &::before {
      position: relative;
      right: 21px;
      display: block;
      width: 32px;
      height: 30px;
      // visual
      background-image: url('../images/icons/account.svg');
      background-repeat: no-repeat;
      background-position: center;
      // box model
      content: '';
    }
  }

  &::before {
    // box model
    display: none;
  }
}

.header-search__button--exit {
  // box model
  margin-top: 18px;
  // typography
  color: $light;
  // visual
  background: transparent;
  border-color: $light;

  &::before {
    // box model
    display: none;
  }
}
