.main-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 10px;

  @include atTablet {
    flex-wrap: nowrap;
    padding: 30px;
  }
}

.news-list .news-item:first-child {
  // box model
  padding-top: 0;
}
