.menu-decor {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -110%;
  display: flex;
  align-items: center;
  justify-content: center;

  // visual
  background-color: #fbf6ee;
  transition: left 0.25s ease;

  @include atDesktopS {
    // positioning
    position: static;

    // box model
    display: inline-flex;
    margin-bottom: 60px;
    padding: 10px;

    // visual
    border-radius: 10px;
  }
  &--opened {
    left: 0;
    z-index: 13;
    height: 100vh;
  }
}
