.menu-education {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu-education__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: inherit;
  margin: 0;
  padding: 48px 40px;
  list-style: none;
}

.menu-education__item {
  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.menu-education__item-inner {
  display: flex;
}

.menu-education__link {
  position: relative;
  display: block;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  font-family: $titleFont;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    color: $golden;
  }
}

.menu-education__sub-item-inner .menu-education__link {
  font-size: 16px;
}

.menu-education__item-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  background: 0 0;
  border: 0;

  &::before {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 10px;
    height: 2px;
    background-color: $black;
    transform: translateY(-2px);
    content: '';
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    background-color: $black;
    transform: translate(-50%, calc(-50% - 1px)) rotate(90deg);
    content: '';
  }
}

.menu-education__item--active-js .menu-education__item-toggle {
  &::after {
    display: none;
  }
}

.menu-education__sub {
  display: none;
  max-height: 100%;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.menu-education__sub-item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.menu-education__item--active-js .menu-education__sub {
  display: block;
}

.menu-education__sub-item-inner {
  display: flex;
  align-items: center;
  padding-left: 25px;
}
