header.article-section__header
  h1.article-section__title История версий

.container.container--middle.container--list
  article.article-preview
    header.article-preview__header
      a.forStorage(href="page-version-1-1-0.html")
        .article-preview__info
          h2.article-preview__title Версия 1.1.0
          p.article-preview__subtitle OldBoy Wiki — проект для руководителей барбершопов сети OldBoy. Портал предоставляет доступ к необходимой информации и готовым вспомогательным материалам, необходимым для развития филиала.
    p.article-preview__data Дата: 05.04.2021

  article.article-preview
    header.article-preview__header
      a.forStorage(href="page-version-1-0-0.html")
        .article-preview__info
          h2.article-preview__title Версия 1.0.0
          p.article-preview__subtitle OldBoy Wiki — проект для руководителей барбершопов сети OldBoy. Портал предоставляет доступ к необходимой информации и готовым вспомогательным материалам, необходимым для развития филиала.
    p.article-preview__data Дата: 29.03.2021
