section.article-detail
  header.article-detail__header
    h2.article-detail__title Версия 1.1.0

  .article-detail__content
    .article-detail__info

      p.article-detail__intro OldBoy Wiki — проект для руководителей барбершопов сети OldBoy. Портал предоставляет доступ к необходимой информации и готовым вспомогательным материалам, необходимым для развития филиала.

      ul.article-detail__list
        li.article-detail__item При поиске материалов теперь отображаются подсказки с ссылками на соответствующие разделы;
        li.article-detail__item Отредактирован раздел <span class="article-detail__span-accent">конструкторы</span>: плавная анимация, новые медиа-файлы;
        li.article-detail__item Добавлена возможность сохранять статьи и материалы в избранное, после чего они отображаются в личном кабинете;
        li.article-detail__item Созданы отдельные страницы с версиями сайта.

article.container.container--flex.container--flex-end.container--middle
  p
    a(href="page-versions.html").article-preview__button.send-back назад к списку
