article.article-detail
  header.article-detail__header
    h2.article-detail__title Версия 1.0.0

  .article-detail__content
    .article-detail__info

      p.article-detail__intro OldBoy Wiki — проект для руководителей барбершопов сети OldBoy. Портал предоставляет доступ к необходимой информации и готовым вспомогательным материалам, необходимым для развития филиала.

      ul.article-detail__list
        li.article-detail__item Лаконичный дизайн, страницы оптимизированы для быстрой загрузки;
        li.article-detail__item Продуманная система навигации;
        li.article-detail__item Поиск материалов по базе данных;
        li.article-detail__item Основная информация об открытии франшизы сгруппирована в разделе <span class="article-detail__span-accent">открытие</span>. Здесь пользователь может найти подробные сведения о компании, пошаговое руководство к запуску франшизы, перечень необходимых документов по пожарной безопасности и готовые формы-уведомления;
        li.article-detail__item В разделе <span class="article-detail__span-accent">стандарты</span> представлены регламенты ведения различных аспектов бизнеса, а также перечни обязательных актов Роспотребнадзора, кассовых документов и общие правила для сотрудников;
        li.article-detail__item Раздел <span class="article-detail__span-accent">медиа-материалы</span> включает в себя обширную базу вспомогательных материалов, которые могут понадобиться для создания различной печатной и рекламной продукции;
        li.article-detail__item Раздел <span class="article-detail__span-accent">инструкции</span> фокусируется на настройках прикладного программного обеспечения для автоматизации взаимодействия с клиентами;
        li.article-detail__item В разделе <span class="article-detail__span-accent">конструкторы</span> представлены 2 конструктора, которые позволяют отобразить и сгенерировать необходимые материалы для оформления профилей соцсетей.

article.container.container--flex.container--flex-end.container--middle
  p
    a(href="page-versions.html").article-preview__button.send-back назад к списку
