section.group-video
  .group-video__wrapper
    h2.group-video__title Заголовок из меню
    .card
      a.card__link(href="#")
      .card__row
        .card__img
          <svg class="card__play-shape" width="75" height="88" viewBox="0 0 75 88" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="card__play-icon" d="M75 44L-4.07833e-06 87.3013L-2.92811e-07 0.698727L75 44Z" fill="white"/>
          </svg>
          picture
            source(srcset="")
            img(src="images/poster-video/poster-video-1.jpg", alt="preview")
        .card__body
          h3.card__title Видео 1
          p.card__description Какое нибудь описание под видео, необязательно длинное, или вообще необязательно описание,но место вот оно.
    .card
      a.card__link(href="#")
      .card__row
        .card__img
          <svg class="card__play-shape" width="75" height="88" viewBox="0 0 75 88" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="card__play-icon" d="M75 44L-4.07833e-06 87.3013L-2.92811e-07 0.698727L75 44Z" fill="white"/>
          </svg>
          picture
            source(srcset="")
            img(src="images/poster-video/poster-video-1.jpg", alt="preview")
        .card__body
          h3.card__title Видео 2
          p.card__description Какое нибудь описание под видео, необязательно длинное, или вообще необязательно описание,но место вот оно.

