header.header-search-education
      div.header-search-education__wrapper
          div.header-search-education__logo.header-search-education__logo--adaptive
            a(href="index.html")
              img.header-search-education__img(src="/images/logo.svg", alt="Oldboy Barbershop logo", title="Oldboy Barbershop Wiki")
          nav.header-search-education__menu
              a.header-search-education__button.button(href="#") Личный кабинет
              a.header-search-education__button.button.header-search-education__button--exit(href="page-authorization.html") Выход
