div.i-barber-page
    div.i-barber-page__wrapper
        h2.i-barber-page__title Я Барбер
        ul.i-barber-page__menu
            li.i-barber-page__item
                a.i-barber-page__link(href="#") 1.1. PRO Услуги
                p.i-barber-page__description Какое нибудь описание под видео,необязательно длинное, или вообще необязательно описание,но место вот оно
            li.i-barber-page__item
                a.i-barber-page__link(href="#") 1.2. PRO Сервис
                p.i-barber-page__description Какое нибудь описание под видео,необязательно длинное, или вообще необязательно описание,но место вот оно
