div.menu-decor-education
  nav.menu-education
      ul.menu-education__list
          li.menu-education__item
              div.menu-education__item-inner
                  button.menu-education__item-toggle(type="button")
                  a.menu-education__link(href="page-list-elements.html") 1. Я Барбер
              ul.menu-education__sub
                  li.menu-education__sub-item
                      div.menu-education__sub-item-inner
                          button.menu-education__item-toggle(type="button")
                          a.menu-education__link(href="page-video-list.html") 1.1. PRO услуги
                  li.menu-education__sub-item
                      div.menu-education__sub-item-inner
                          button.menu-education__item-toggle(type="button")
                          a.menu-education__link(href="#") 1.2. PRO Сервис
          li.menu-education__item
              div.menu-education__item-inner
                  button.menu-education__item-toggle(type="button")
                  a.menu-education__link(href="#") 2. Я Администратор
          li.menu-education__item
              div.menu-education__item-inner
                  button.menu-education__item-toggle(type="button")
                  a.menu-education__link(href="#") 3. Мы команда OldBoy
          li.menu-education__item
              div.menu-education__item-inner
                  button.menu-education__item-toggle(type="button")
                  a.menu-education__link(href="page-test-education.html") 4. Тест
  button.button.menu-switcher-education
      span.button__menu-text Развернуть
      <svg class="button__menu-icon" width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.29289 8.20711C7.68342 8.59763 8.31658 8.59763 8.70711 8.20711L15.0711 1.84315C15.4616 1.45262 15.4616 0.819457 15.0711 0.428933C14.6805 0.0384084 14.0474 0.0384083 13.6569 0.428933L8 6.08579L2.34315 0.428932C1.95262 0.0384073 1.31946 0.0384072 0.928933 0.428932C0.538408 0.819456 0.538408 1.45262 0.928933 1.84315L7.29289 8.20711ZM7 6L7 7.5L9 7.5L9 6L7 6Z" fill="black"/>
      </svg>

