section.navigation-chain
  ul.navigation-chain__list
    li.navigation-chain__item
      a.navigation-chain__link(href="#") главная
    li.navigation-chain__item
      a.navigation-chain__link(href="#") PRO УСЛУГИ1
    li.navigation-chain__item
      a.navigation-chain__link(href="#") PRO УСЛУГИ2
    li.navigation-chain__item
      a.navigation-chain__link(href="#") PRO УСЛУГИ3
