div.pro-offer-page
    div.pro-offer-page__wrapper
        h2.pro-offer-page__title PRO Услуги
        ul.pro-offer-page__menu
            li.pro-offer-page__item
                a.pro-offer-page__link(href="#") 1. Конструктор стрижки
                p.pro-offer-page__description Какое нибудь описание под видео,необязательно длинное, или вообще необязательно описание,но место вот оно
            li.pro-offer-page__item
                a.pro-offer-page__link(href="#") 2. Борода
                p.pro-offer-page__description Какое нибудь описание под видео,необязательно длинное, или вообще необязательно описание,но место вот оно
            li.pro-offer-page__item
                a.pro-offer-page__link(href="#") 3. Бритьё
                p.pro-offer-page__description Какое нибудь описание под видео,необязательно длинное, или вообще необязательно описание,но место вот оно
            li.pro-offer-page__item
                a.pro-offer-page__link(href="#") 4. Тонирование седины
                p.pro-offer-page__description Какое нибудь описание под видео,необязательно длинное, или вообще необязательно описание,но место вот оно
            li.pro-offer-page__item
                a.pro-offer-page__link(href="#") 5. Нюансы детской стрижки
                p.pro-offer-page__description Какое нибудь описание под видео,необязательно длинное, или вообще необязательно описание,но место вот оно
            li.pro-offer-page__item
                a.pro-offer-page__link(href="#") 6. Мытье и укладка волос
                p.pro-offer-page__description Какое нибудь описание под видео,необязательно длинное, или вообще необязательно описание,но место вот оно
            li.pro-offer-page__item
                a.pro-offer-page__link(href="#") 7. Депиляция воском
                p.pro-offer-page__description Какое нибудь описание под видео,необязательно длинное, или вообще необязательно описание,но место вот оно
            li.pro-offer-page__item
                a.pro-offer-page__link(href="#") 8. Коррекция бровей (4 видео)
                p.pro-offer-page__description Какое нибудь описание под видео,необязательно длинное, или вообще необязательно описание,но место вот оно
