section.test-page
  .test-page__wrapper
      .test-page__intro
        .test-result
          h1.test-result__title Проверка знаний
          p.test-result__passed.test-result__passed--gold пройдено
          .test-result__group-passed
            p.test-result__passed.test-result__passed--wrapper правильно
              span.test-result__counter.test-result__counter--successful 10
            p.test-result__passed.test-result__passed--wrapper неправильно
              span.test-result__counter.test-result__counter--failed 20
            p.test-result__passed.test-result__passed--wrapper пусто
              span.test-result__counter 30
          .test-result__button-group
            button.test-result__button-restart.btn-reset рестарт
            button.test-result__button-back-main.btn-reset назад на главную
      .test-page__question-wrapper
        .test-page__question-overflow
            .test-page__question-item
              h2.test-page__question-title The property in CSS used to change the background color of an element is?
              ul.test-page__answers-list
                  li.test-page__answers-item
                      input(type="radio" id="q1-1" name="q1" value="q1-1")
                      label.test-page__question-answer(for="q1-1") Какой-то ответ 1
                  li.test-page__answers-item
                      input(type="radio" id="q1-2" name="q1" value="q1-2")
                      label.test-page__question-answer(for="q1-2") Какой-то ответ 2
                  li.test-page__answers-item
                      input(type="radio" id="q1-3" name="q1" value="q1-3")
                      label.test-page__question-answer(for="q1-3") Какой-то ответ 3
                  li.test-page__answers-item
                      input(type="radio" id="q1-4" name="q1" value="q1-4")
                      label.test-page__question-answer(for="q1-4") Какой-то ответ 4
            .test-page__question-item
              h2.test-page__question-title The property in CSS used to change the background color of an element is?
              ul.test-page__answers-list
                  li.test-page__answers-item
                      input(type="radio" id="q1-1" name="q1" value="q1-1")
                      label.test-page__question-answer(for="q1-1") Какой-то ответ 1
                  li.test-page__answers-item
                      input(type="radio" id="q1-2" name="q1" value="q1-2")
                      label.test-page__question-answer(for="q1-2") Какой-то ответ 2
                  li.test-page__answers-item
                      input(type="radio" id="q1-3" name="q1" value="q1-3")
                      label.test-page__question-answer(for="q1-3") Какой-то ответ 3
                  li.test-page__answers-item
                      input(type="radio" id="q1-4" name="q1" value="q1-4")
                      label.test-page__question-answer(for="q1-4") Какой-то ответ 4





