.test-page__intro
    .test-page__intro-wrapper
        h1.test-page__intro-title Проверка знаний
        p.test-page__intro-counter
            span.test-page__intro-counter--current 1
            span /
            span.test-page__intro-counter--general 20
