article.article-detail
  header.article-detail__header
      h2.article-detail__title

  div.article-detail__content
    div.article-detail__img-wrap
      img.article-detail__img

article.article-preview
      header.article-preview__header
      a.forStorage

