article.article-detail
  header.article-detail__header
    h2.article-detail__title Абонименты на мужскую стрижку

  div.article-detail__content
    div.article-detail__img-wrap
      picture
        //- source(srcset="images/article-img.webp")
        img.article-detail__img(src="images/article-img.jpg" alt="Абонименты на мужскую стрижку")

    div.article-detail__info
      p.article-detail__info-desc Подарочные сертификаты с номиналом и без на мужскую стрижку, оформление бороды, королевское бритье, детскую стрижку и комплексные услуги.
      div.article-detail__favorite
        p Добавить в избранное
      div.download_archive
        a(href="#") Скачать архив
  div.article-detail__download
    ul.article__print
      li.article__doc
        span подарочный_сертификат_а3.pdf
        a Скачать
      li.article__doc
        span подарочный_сертификат_а3.pdf
        a Скачать
      li.article__doc
        span подарочный_сертификат_а3.pdf
        a Скачать
      li.article__doc
        span подарочный_сертификат_а3.pdf
        a Скачать
