ul.gallery__list
  li.gallery__item
    a.gallery__link
      img.gallery__img(src="/images/oldboy-background.jpeg")
  li.gallery__item
    a.gallery__link
      img.gallery__img(src="/images/oldboy-background.jpeg")
  li.gallery__item
    a.gallery__link
      img.gallery__img(src="/images/oldboy-background.jpeg")
  li.gallery__item
    a.gallery__link
      img.gallery__img(src="/images/oldboy-background.jpeg")
  li.gallery__item
    a.gallery__link
      img.gallery__img(src="/images/oldboy-background.jpeg")
  li.gallery__item
    a.gallery__link
      img.gallery__img(src="/images/oldboy-background.jpeg")
  li.gallery__item
    a.gallery__link
      img.gallery__img(src="/images/oldboy-background.jpeg")

