header.header
  div.header__wrapper
    div.header__logo
      img(src="images/logo.svg", alt="Oldboy Barbershop logo", title="Oldboy Barbershop Wiki")
    nav.header__menu
      a.header__button.button(href="#") Личный кабинет
