header.header-search
  div.header-search__wrapper
    div.header-search__logo.header-search__logo--adaptive
      a(href="index.html")
        img.header-search__img(src="images/logo.svg", alt="Oldboy Barbershop logo", title="Oldboy Barbershop Wiki")
    div.header-search__search
      include _search.pug
    nav.header-search__menu
      a.header-search__button.button(href="#") Личный кабинет
      a.header-search__button.button.header-search__button--exit(href="page-authorization.html") Выход
