div.insta
  div.insta__phone
    div.insta__bang-phone
    div.insta__screen
      div.insta__container
        div.insta__block-top
          div.insta__header-phone

          div.insta__top
            div.insta__header
              div.insta__header-icon
              p.insta__header-text oldboy_the_best
              div.insta__header-dots
            div.insta__avatar-wrap
              a.insta__avatar-link
                img.insta__avatar-img(src="images/oldboy-logo-08.jpg")
              ul.insta__avatar-list
                li.insta__avatar-item
                li.insta__avatar-item
                li.insta__avatar-item

        div.insta__mid
          p.insta__text Твой OLDBOY
          ul.insta__mid-list
            li.insta__mid-item
              span.insta__stick
            li.insta__mid-item
              span.insta__stick
            li.insta__mid-item
              span.insta__stick
            li.insta__mid-item
              span.insta__stick.insta__stick--blue
          ul.insta__btn-list
            li.insta__btn-item
              div.insta__mid-btn
            li.insta__btn-item
              div.insta__mid-btn
            li.insta__btn-item
              div.insta__mid-btn.insta__mid-btn--small

        div.insta__topical
          ul.insta__topical-list
            li.insta__topical-item
              a.insta__topical-link
                img.insta__topical-img(src="images/avatar-helper.jpg")
            li.insta__topical-item
              a.insta__topical-link
                img.insta__topical-img(src="images/avatar-helper.jpg")
            li.insta__topical-item
              a.insta__topical-link
                img.insta__topical-img(src="images/avatar-helper.jpg")
            li.insta__topical-item
              a.insta__topical-link
                img.insta__topical-img(src="images/avatar-helper.jpg")

  div.insta__gallery.gallery
    include _gallery.pug
