div.main-page
  div.main-page__wrapper
    h3.main-page__title База знаний - информационный портал для руководителей барбершопов OldBoy.
    ul.main-page__list
      li.main-page__item
        p.main-page__item-text Здесь представлены вспомогательные материалы, которые понадобятся в процессе открытия и ведения филиала.
      li.main-page__item
        p.main-page__item-text Вы можете воспользоваться поисковой строкой по каталогам ресурса, чтобы найти необходимую информацию или выбрать интересующий пункт из списка слева.
      li.main-page__item
        p.main-page__item-text Материалы, размещённые в Базе знаний, можно добавлять в избранное, скачивать и делиться в социальных сетях.
