

div.menu-decor


  nav.menu
      ul.menu__list
          li.menu__item
              a.menu__link(href="#") Открытие
          li.menu__item
              a.menu__link(href="#") Стандарты
          li.menu__item
              a.menu__link(href="page-sections.html") Медиа-материалы
              ul.menu__sub
                  li.menu__sub-item
                      a.menu__sub-link(href="page-article-detail.html") Открытие
                  li.menu__sub-item
                      a.menu__sub-link(href="#") Праздники
                  li.menu__sub-item
                      a.menu__sub-link(href="#") Регулярное
                  li.menu__sub-item
                      a.menu__sub-link(href="#") Шрифты
          li.menu__item
              a.menu__link(href="#") Инструкции
              ul.menu__sub
                  li.menu__sub-item
                      a.menu__sub-link(href="#") Yclients
          li.menu__item
              a.menu__link(href="page-section-constructor.html") Конструкторы
              ul.menu__sub
                  li.menu__sub-item
                      a.menu__sub-link(href="page-constructor-vk.html") ВКонтакте
                  li.menu__sub-item
                      a.menu__sub-link(href="page-constructor-insta.html") ИНСТАГРАМ
          li.menu__item
              a.menu__link(href="#") FAQ
  button.button.button--transparent.menu-switcher Меню
