
form.search
  p.search__text Поиск материалов в базе
  div.search__wrap
    input.search__input(type="text" placeholder="Введите название интересующего раздела")
    button.search__button(type="submit")
