div.sections
  h1 Медиа-материалы

  ul
    li
      a Открытие
    li
      a Паки
    li
      a Праздники
      ul
        li
          a Новый год - New Year
        li
          a Новый год - New Year
    li
      a Регулярное
    li
      a Шрифты

