div.vk-mobile
  div.vk-mobile__phone
    div.vk-mobile__bang-phone
    div.vk-mobile__screen
      div.vk-mobile__container
        div.vk-mobile__block-top
          div.vk-mobile__header-phone
          div.vk-mobile__paper
            a.vk-mobile__paper-link
              img.vk-mobile__paper-img(src="images/oldboy-background.jpeg")
          div.vk-mobile__avatar
            div.vk-mobile__avatar-wrap
              p.vk-mobile__avatar-text Твой OldBoy
              a.vk-mobile__avatar-link
                img.vk-mobile__avatar-img(src="images/oldboy-logo-08.jpg")
            div.vk-mobile__avatar-btn
        div.vk-mobile__block-mid
          ul.vk-mobile__align-list
            li.vk-mobile__align-item
              span.vk-mobile__ring
              span.vk-mobile__stick
            li.vk-mobile__align-item
              span.vk-mobile__ring
              span.vk-mobile__stick
            li.vk-mobile__align-item
              span.vk-mobile__ring
              span.vk-mobile__stick

        ul.vk-mobile__price-list
          li.vk-mobile__price-item
            a.vk-mobile__price-link
              img.vk-mobile__price-img(src="images/vk-icon-01-price.jpg")
          li.vk-mobile__price-item
            a.vk-mobile__price-link
              img.vk-mobile__price-img(src="images/vk-icon-02-zapis.jpg")
          li.vk-mobile__price-item
            a.vk-mobile__price-link
              img.vk-mobile__price-img(src="images/vk-icon-03-konkurs.jpg")
  div.vk-mobile__gallery.gallery
    include _gallery.pug
