div.vk-desktop
  div.vk-desktop__screen-wrap
    div.vk-desktop__screen
      header.vk-desktop__header
        div.vk-desktop__logo
          img.vk-desktop__logo-img(src="images/deco/logo-vk.svg")
        div.vk-desktop__header-search
        div.vk-desktop__header-round

      div.vk-desktop__container
        div.vk-desktop__block-top
          div.vk-desktop__paper
            a.vk-desktop__paper-link
              img.vk-desktop__paper-img(src="images/paper-helper.jpg")
          div.vk-desktop__avatar
            div.vk-desktop__avatar-wrap
              a.vk-desktop__avatar-link
                img.vk-desktop__avatar-img(src="images/avatar-helper.jpg")
            p.vk-desktop__avatar-text Твой OldBoy
            div.vk-desktop__avatar-btn

        div.vk-desktop__block-bot
          div.vk-desktop__col-left
            div.vk-desktop__item-top

            ul.vk-desktop__price-list
              li.vk-desktop__price-item
                a.vk-desktop__price-link
                  img.vk-desktop__price-img(src="images/price-helper.jpg")
              li.vk-desktop__price-item
                a.vk-desktop__price-link
                  img.vk-desktop__price-img(src="images/price-helper.jpg")
              li.vk-desktop__price-item
                a.vk-desktop__price-link
                  img.vk-desktop__price-img(src="images/price-helper.jpg")

          div.vk-desktop__col-right
  div.vk-desktop__gallery.gallery
    include _gallery.pug
