<!DOCTYPE html>
html(lang="en")
  include html/modules/_head.pug

  body
    include html/modules/_header-search.pug
    main
      div.container-test
        div.container-test__menu
          a.container-test__link(href="#") Вернуться назад
        div.container-test__info
          include html/modules/education/_test.pug

    include html/modules/_footer.pug
