<!DOCTYPE html>
html(lang="en")
  include html/modules/_head.pug

  body
    include html/modules/_header-search.pug
    main
      section.page-authorization__section
        include html/modules/_authorization.pug


    include html/modules/_footer.pug
